<div class="stepsdemo-content">
    <p-fieldset legend="Les Alertes">
        <div >
            <!-- *ngFor="let tank of getInactiveTanks" -->

            <p-card>
                <div class="flex">
                    <div
                        class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                    >
                        tank?.sensor_reference
                    </div>
                    <div
                        class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                    >
                    tank?.stationProduct.nameproduct
                    </div>
                    <div
                        class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                    >
                    tank?.diameter
                    </div>
                    <div
                        class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                    >
                    tank?.stationProduct.name_stationservice
                    </div>
                    <div
                        class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                    >
                    tank?.stationProduct.name_entreprise
                    </div>
                    <div
                        class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                    >
                    <p-badge  severity="danger" />
                        Inactif
                    </div>
                    <div
                        class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                    >
                    Depuis tank?.created_at

                    </div>
                    <div
                    class="alertClass flex-auto flex align-items-center justify-content-center"
                >
                tank?.pub_reference
                </div>

                </div>
            </p-card>

        </div>


    </p-fieldset>
</div>
