<div class="stepsdemo-content">
    <p-fieldset legend="Les Alertes">
        <p-card>
            <div class="flex">
                <div
                    class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                >
                    Tank
                </div>
                <div
                    class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                >
                    Produit
                </div>
                <div
                    class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                >
                    Diametre
                </div>
                <div
                    class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                >
                    Station
                </div>
                <div
                    class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                >
                    Entreprise
                </div>
                <div
                    class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
                >
                    Date
                </div>
                <div
                class="alertClass flex-auto flex align-items-center justify-content-center border-right-1 border-blue-300"
            >
                Diagnostic
            </div>
                <div
                    class="alertClass flex-auto flex align-items-center justify-content-center"
                >
                <p-badge  severity="success" />
                    Status
                </div>
            </div>
        </p-card>
    </p-fieldset>
</div>
