<form [formGroup]="localisationInformationForm">
    <p-card>
        <ng-template pTemplate="title">
            Informations de la station service
        </ng-template>
        <ng-template pTemplate="subtitle">
            <span>
                Entrer les informations de localisation de la station service
            </span>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="address">Adresse de localisation</label>
                    <input pInputText id="address" type="text" formControlName="address" [(ngModel)]="localisationInformation.address" required/>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="fuseau_horaire">Fuseau Horaire</label>
                    <input
                    required
                        pInputText
                        id="fuseau_horaire"
                        type="text"
                        placeholder="UTC-2"
                        formControlName="fuseau_horaire" [(ngModel)]="localisationInformation.fuseau_horaire"
                    />
                </div>
                <!-- <div class="field col-12 md:col-6">
                    <label htmlFor="ville">Ville  </label>
                    <p-dropdown
                        [options]="cities"
                        [(ngModel)]="localisationInformation.ville"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Selectionner la ville"
                        [editable]="true"
                        optionLabel="name"
                        required
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        formControlName="ville"

                    >
                    <ng-template pTemplate="filter" let-options="options">
                        <div class="flex gap-1">
                            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                <input
                                    type="text"
                                    pInputText
                                    placeholder="Rechercher"
                                    [(ngModel)]="filterValue"
                                    (keyup)="customFilterFunction($event, options)" />
                            </div>
                            <p-button icon="pi pi-plus" (click)="resetFunction(options)" class="ml-5 mt-1"></p-button>

                        </div>


                    </ng-template></p-dropdown>
                </div> -->

            </div>
            <!-- <div class="p-fluid p-formgrid grid">
                 <div class="field col-12 md:col-6">
                    <label htmlFor="region">Region  </label>
                    <p-dropdown
                        [options]="regions"
                        [(ngModel)]="localisationInformation.region"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Selectionner la region"
                        [editable]="true"
                        optionLabel="name"
                        required
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        formControlName="region"

                    >

                    <ng-template pTemplate="filter" let-options="options">
                        <div class="flex gap-1">
                            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                <input
                                    type="text"
                                    pInputText
                                    placeholder="Rechercher"
                                    [(ngModel)]="filterValue"
                                    (keyup)="customFilterFunction($event, options)" />
                            </div>
                            <p-button icon="pi pi-plus" (click)="resetFunction(options)" class="ml-5 mt-1"></p-button>

                        </div>


                    </ng-template></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="fuseau_horaire">Fuseau Horaire</label>
                    <input
                    required
                        pInputText
                        id="fuseau_horaire"
                        type="text"
                        placeholder="UTC-2"
                        formControlName="fuseau_horaire" [(ngModel)]="localisationInformation.fuseau_horaire"
                    />
                </div>
            </div> -->
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="latitude">Latitude</label>
                    <input  pInputText required
                     formControlName="latitude" [(ngModel)]="localisationInformation.latitude"

                    />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="longitude">Longitude</label>
                    <input pInputText required
                    formControlName="longitude" [(ngModel)]="localisationInformation.longitude"

                    />
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between mt-1">
                <p-button
                    label="Précedent"
                    (onClick)="prevPage()"
                    icon="pi pi-angle-left"
                ></p-button>
                <p-button
                    label="Suivant"
                    [loading]="loading"
                    (onClick)="nextPage()"
                    icon="pi pi-angle-right"
                    iconPos="right"
                ></p-button>
            </div>
        </ng-template>
    </p-card>
</form>

