<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div
            class="card transform mb-0 border-left-3 border-purple-500 border-y-none border-right-none"
            (click)="navigation('/compagnies/compagnielist')"
        >
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-semibold mb-3"
                        >Entreprises</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ nballCompagnies }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-home text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
                >{{ compagniesThisMonth }}
            </span>
            <span class="text-500">compagnies enregistrées ce mois </span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div
            class="card transform mb-0 border-red-500 border-left-3 border-y-none border-right-none"
            (click)="navigation('/service_station/service_servicelist')"
        >
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-semibold mb-3"
                        >Stations Services</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ servicesStations }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-th-large text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
                >{{ servicesStationsThisMonth }}
            </span>
            <span class="text-500">stations enregistrées ce mois</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div
            class="card transform mb-0 border-primary-500 border-left-3 border-y-none border-right-none"
            (click)="navigation('/cuves')"
        >
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-semibold mb-3">Cuves</span>
                    <div class="text-900 font-medium text-xl">{{ tanks }}</div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-database text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
                >{{ tanksThisMonth }}
            </span>
            <span class="text-500">cuves enregistrées ce mois</span>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div
            class="card transform mb-0 border-yellow-500 border-left-3 border-y-none border-right-none"
            (click)="navigation('/alerts')"
        >
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-semibold mb-3"
                        >Cuves Inactives</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ getInactiveTanks? getInactiveTanks:0  }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-red-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i
                        class="pi pi-exclamation-triangle text-red-500 text-xl zoomin animation-duration-1000 animation-iteration-infinite"
                    ></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{ tanksThisDay?tanksThisDay:0 }} </span>
            <span class="text-500"
                >cuves inactives enregistrées aujourd'hui</span
            >
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-8">
        <div class="card">
            <div class="card-header gap-3 pb-2">
                <div class="card-title">
                    <h5>Entreprises</h5>
                    <p class="subtitle">
                        Recapitulatif des informations sur LightOil.
                    </p>
                </div>
            </div>
            <p-tabView class="p-element" >
                <div class="grid overflow-auto"  style="max-height: 31rem">
                    <div
                        class="col-6 alertCard"
                        *ngFor="let company of allCompagnies"
                    >
                        <div
                            class="text-center p-3 border-round-sm font-bold"
                            style="background-color: #f3fbfb"
                        >
                            <h6 class="line-height-3 m-0 mr-2 mb-2">
                                {{ company?.name }}
                            </h6>


                        <ul
                        class="list-none p-0 overflow-auto"
                        style="max-height: 18rem"



                    >
                        <li
                            class="border-round-lg pt-2 px-3 pb-2 mb-3"
                            style="background-color: white"  *ngFor="let tank of getAllTanks(company)"

                        ><ng-container *ngIf="tank?.tanks.length > 0">
                            <div
                            class="flex justify-content-between align-items-center mb-1"
                        >
                            <div
                                class="flex align-items-center gap-1"
                            >
                                <h6 class="m-0 mr-2">
                                    {{
                                        tank?.tanks[0]
                                            ?.sensor_reference ? tank?.tanks[0]
                                            ?.sensor_reference : tank?.tanks[0]
                                            ?.sensor_reference
                                    }}
                                </h6>
                                <p-tag
                                    styleclass="m-0 mx-8 px-2 text-xs bg-blue-300"
                                    [value]="tank?.tanks?.[0]?.diameter ? (tank?.tanks?.[0]?.diameter + ' m') : ''"
                                    class="p-element inline-block"
                                    style="white-space: nowrap"
                                    ><span
                                        class="m-0 mr-2 px-2 text-xs bg-blue-300 p-tag p-component"
                                        ><!----><!----><!----><!----><span
                                            class="p-tag-value"
                                            style="
                                                white-space: nowrap;
                                            "
                                        >
                                            {{
                                                tank?.tanks[0]
                                                    ?.jauge
                                            }}</span
                                        ></span
                                    ></p-tag
                                >
                            </div>
                            <span
                                class="text-gray-500 font-semibold ml-2 text-sm line-height-1"
                            >
                                <b
                                    >{{
                                        tank?.tanks[0]
                                            ?.stationProduct
                                            ?.nameproduct.name
                                    }}
                                </b></span
                            >
                        </div>
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <span
                                class="mt-1 text-500 block text-sm line-height-1"
                            >
                                {{
                                    tank?.tanks[0]?.stationProduct
                                        ?.name_stationservice.name
                                }}
                                ,<b
                                    >{{
                                        tank?.tanks[0]
                                            ?.stationProduct
                                            ?.name_stationservice
                                            .city
                                    }}
                                </b>
                            </span>
                            <button
                                type="button"
                                pbutton=""
                                icon="pi pi-ellipsis-v"
                                severity="danger"
                                class="p-element p-button-rounded p-button-text p-button-sm flex-shrink-0 p-button p-component p-button-icon-only"
                            >
                                <span
                                    id="pn_id_128_badge"
                                    class="p-badge p-component p-badge-success p-badge-no-gutter zoomin animation-duration-1000 animation-iteration-infinite"
                                ></span>
                            </button>
                        </div>
                        </ng-container>

                        </li>
                    </ul>

                        </div>
                    </div>
                </div>
            </p-tabView>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card">
            <div class="card-header gap-3 pb-2">
                <div class="card-title">
                    <div
                        pbadge=""
                        value="6"
                        severity="danger"
                        class="p-element pr-2 p-overlay-badge ng-star-inserted"
                    >
                        <h5>Cuves Inactives</h5>
                        <span
                            id="pn_id_128_badge"
                            class="p-badge p-component p-badge-danger p-badge-no-gutter zoomin animation-duration-1000 animation-iteration-infinite"
                            >{{ getInactiveTanks? getInactiveTanks:0  }}</span
                        >
                    </div>
                    <p class="subtitle">
                        Recapitulatif des alertes sur les cuves Inactives.
                    </p>
                </div>
            </div>
            <p-tabView class="p-element">
                <ul
                    class="list-none p-0 overflow-auto"
                    style="margin: 0 -1.5rem -1rem; max-height: 31rem"
                >
                    <li
                        class="border-round-lg pt-2 px-3 pb-2 mb-3"
                        style="background-color: #f3fbfb"
                     *ngIf="getInactiveTanks">
                        <div
                            class="flex justify-content-between align-items-center mb-1"
                        >
                            <div class="flex align-items-center gap-1">
                                <h6 class="line-height-3 m-0 mr-2">
                                    {{ getInactiveTanks?.sensor_reference }}
                                </h6>
                                <p-tag
                                    styleclass="m-0 ml-8 px-2 text-xs bg-blue-300"
                                    [value]="getInactiveTanks?.stationProduct.nameproduct.name"
                                    class="p-element inline-block"
                                    ><span
                                        class="m-0 mr-2 px-2 text-xs bg-blue-300 p-tag p-component"
                                        ><!----><!----><!----><!----><span
                                            class="p-tag-value"
                                            >{{ getInactiveTanks.pub_reference }}</span
                                        ></span
                                    ></p-tag
                                >
                            </div>
                            <span
                                class="text-gray-500 font-semibold text-sm line-height-1"
                            >
                                depuis {{ getInactiveTanks.time_out }}</span
                            >
                        </div>
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <span
                                class="mt-1 text-500 block text-sm line-height-1"
                            >
                            {{ getInactiveTanks?.stationProduct.name_stationservice.name }}, <b>{{ getInactiveTanks?.stationProduct.name_entreprise.name}}</b> </span
                            ><button
                                type="button"
                                pbutton=""
                                icon="pi pi-ellipsis-v"
                                severity="danger"
                                class="p-element p-button-rounded p-button-text p-button-sm flex-shrink-0 p-button p-component p-button-icon-only"
                            >
                                <span
                                    class="p-button-icon pi pi-ellipsis-v text-red-500"
                                    aria-hidden="true"
                                ></span>
                            </button>
                        </div>
                    </li>
                    <li
                        class="border-round-lg pt-2 px-3 pb-2 mb-3"
                        style="background-color: #f3fbfb"
                     *ngIf="!getInactiveTanks">
                        <div
                            class="flex justify-content-between align-items-center mb-1"
                        >
                            <div class="flex align-items-center gap-1">
                                <h6 class="line-height-3 m-0 mr-2">
                                    Aucune Cuve Inactive
                                </h6>

                            </div>

                        </div>

                    </li>
                </ul>
            </p-tabView>
        </div>
    </div>

    <div class="col-12 xl:col-12">
        <div class="card">
            <div class="card-header gap-3 pb-2">
                <div class="card-title">
                    <h5>Localisation des Capteurs</h5>
                    <p class="subtitle">
                        Localisation de tous les capteurs de LightOil.
                    </p>
                </div>
            </div>
            <p-tabView class="p-element"> </p-tabView>
        </div>
    </div>
</div>
