<p-card>
    <ng-template pTemplate="title">
        Informations de la station service
    </ng-template>
    <ng-template pTemplate="subtitle">
        <span> Validation des informations de la station service </span>
    </ng-template>
    <ng-template pTemplate="content">
        <div
            style="
                height: 3px;
                background: linear-gradient(
                    90deg,
                    var(--primary-color) 0%,
                    rgba(33, 150, 243, 0) 50%
                );
            "
        ></div>

        <p-splitter [style]="{ height: '300px' }" styleClass="my-3">
            <ng-template pTemplate>
                <app-task-list>
                    <div>
                        <div
                            class="text-900 font-semibold text-lg mb-3 border-bottom-1 surface-border py-3 mx-4"
                        >
                            Informations de base
                        </div>
                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class">Nom de la station service </b>
                            </div>

                            <label class="mt-3 mb-2"
                                >{{
                                    stationServiceInformation.basicInformation
                                        .name
                                }}
                            </label>
                        </div>

                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class"> Nom de l'Entreprise </b>
                            </div>

                            <label class="mt-3 mb-2"
                                >{{
                                    stationServiceInformation.basicInformation
                                        .entreprise.name
                                }}
                            </label>
                        </div>

                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class" class=""
                                    >Produits utilisés par la station service
                                </b>
                            </div>

                            <div class="mt-3 mb-2 flex flex-lg-row">
                                <label
                                    *ngFor="
                                        let product of stationServiceInformation
                                            .basicInformation.product_name;
                                        let last = last
                                    "
                                >
                                    {{ product.name }} {{ !last ? ", " : "" }}
                                </label>
                            </div>
                        </div>

                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class"
                                    >Description de la station service
                                </b>
                            </div>

                            <label class="mt-3 mb-2"
                                >{{
                                    stationServiceInformation.basicInformation
                                        .description
                                }}
                            </label>
                        </div>
                    </div>
                </app-task-list>
            </ng-template>
            <ng-template pTemplate>
                <app-task-list>
                    <div>
                        <div
                            class="text-900 font-semibold text-lg mb-3 border-bottom-1 surface-border py-3 mx-4"
                        >
                            Informations de localisation
                        </div>
                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class"
                                    >Localisation de la station service
                                </b>
                            </div>

                            <label class="mt-3 mb-2"
                                >{{
                                    stationServiceInformation
                                        .localisationInformation.address
                                }}
                            </label>
                        </div>
                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class">Fuseau Horaire </b>
                            </div>

                            <label class="mt-3 mb-2"
                                >{{
                                    stationServiceInformation
                                        .localisationInformation.fuseau_horaire
                                }}
                            </label>
                        </div>

                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class">Latitude </b>
                            </div>

                            <label class="mt-3 mb-2"
                                >{{
                                    stationServiceInformation
                                        .localisationInformation.latitude
                                }}
                            </label>
                        </div>

                        <div class="field flex flex-column mx-4">
                            <div>
                                <b for="class">Longitude </b>
                            </div>

                            <label class="mt-3 mb-2"
                                >{{
                                    stationServiceInformation
                                        .localisationInformation.longitude
                                }}
                            </label>
                        </div>
                    </div>
                </app-task-list>
            </ng-template>
        </p-splitter>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-between mt-1">
            <p-button
                label="Précedent"
                (onClick)="prevPage()"
                icon="pi pi-angle-left"
            ></p-button>
            <p-button
                label="Valider"
                [loading]="loading"
                styleClass="p-button-success"
                icon="pi pi-check"
                (click)="valider()"
                iconPos="left"
            ></p-button>
        </div>
    </ng-template>
</p-card>
