<div class="stepsdemo-content">
    <p-fieldset legend="Liste des stations services">
        <p-card>
            <div class="flex justify-content-between flex-column sm:flex-row mx-3 mb-2">
                <div class="flex justify-content-between">
                    <p-button label="Supprimer" icon="pi pi-trash" severity="danger"></p-button>
                    <button pButton label="Ajouter une station " class="p-button-outlined ml-4" icon="pi pi-plus"
                        [routerLink]="['/service_station/addservice_station']"></button>
                </div>

                <span class="p-input-icon-left mt-3 sm:mt-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter placeholder="Rechercher" class="w-full" />
                </span>
            </div>

            <ng-template pTemplate="content">
                <p-dataView #dv [value]="products" [paginator]="true" [rows]="6" filterBy="name" [sortField]="sortField"
                    [sortOrder]="sortOrder" layout="grid">




                    <ng-template let-products pTemplate="gridItem">
                        <div class="grid grid-nogutter">
                            <div class="col-12 md:col-4" *ngFor="let product of products">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex flex-wrap -m-3 align-items-center justify-content-between mb-2">
                                        <div class="flex align-items-center text-purple-500 ">
                                            <i class="pi pi-tag mr-2"></i>
                                            <span class=" text-lg text-purple-500 font-bold">bocom</span>
                                        </div>
                                        <p-tag severity="success" value="Inacctif"></p-tag>
                                    </div>
                                    <div class="flex flex-column align-items-center text-center mb-3">
                                        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name"
                                            class="w-9 shadow-2 my-3 mx-0" />
                                        <div class="text-2xl mb-2 font-bold">Station de bocom</div>
                                        <div class="mb-3"> <i class="pi pi-map-marker mr-2"></i>
                                            bonapriso</div>

                                    </div>
                                    <div class=" w-full">
                                        <button pButton label="Voir les details" class="p-button-outlined ml-4" icon="pi pi-eye"
                                        [routerLink]="['/service_station/addservice_station']"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>

            </ng-template>

        </p-card>
    </p-fieldset>
</div>

