::ng-deep .p-fieldset{
    border-radius: 0.375rem !important;
    background-color: transparent;
    border: 1px solid #c4c1c5;
    padding: 0.8rem;
}
::ng-deep .p-fieldset .p-fieldset-legend{
 padding-block: 0 !important;
 padding-inline: 0.5rem;
 background-color: transparent ;
 border: none;
}

::ng-deep .p-fieldset .p-fieldset-content{
    padding: 0;

}
::ng-deep .p-card .p-card-footer{
    padding: 0;
}



::ng-deep .field{
    margin-bottom: -0.3rem;
}


::ng-deep .block{
    font-size: 1.5rem;
    font-weight: 700;
}


@media screen and (min-width: 1005px)  {
    .size{
        min-height: 19.8rem;
    }
  }
