<div class="stepsdemo-content">
    <p-fieldset legend="{{filteredStation[0].name}}">
        <p-card>
            <p-table #dt [value]="filteredStation" selectionMode="single" dataKey="id"
             responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:1%"></th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nom de la station service
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Localistion
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nom de l'entreprise
                            </div>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Fuseau horaire
                            </div>
                        </th>

                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                    <tr >
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>

                        <td>
                            <span class=" block font-semibold">{{rowData.name}}</span>

                        </td>
                        <td>
                            <span class="white-space-nowrap p-2 font-semibold">{{rowData.city}}</span>
                        </td>
                        <td>
                            <span class="white-space-nowrap block font-semibold ">{{rowData.company.name}}</span>
                        </td>
                        <td>
                            <span class="white-space-nowrap block font-semibold ">{{rowData.gmt}}</span>
                        </td>


                        <!-- <td style="width: 20%" class="justify-content-between">
                            <p-button icon="pi pi-file-edit" class="ml-3" pTooltip="details" tooltipPosition="bottom" (click)="Details(servicesStation.id)" [rounded]="true" [text]="true" severity="success"></p-button>
                            <p-button icon="pi pi-trash"  pTooltip="supprimer" tooltipPosition="bottom" (click)="deleteSelectedStationService(servicesStation.id)" [rounded]="true" [text]="true" severity="danger"></p-button>
                        </td> -->

                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-rowData>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="filteredStationsupp" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Latitude</th>
                                            <th>Longitude </th>
                                            <th>NbCuves </th>
                                            <th>scdp-delay</th>
                                            <th>critic_limit</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData>
                                        <tr>
                                            <td>{{ latitude}}</td>
                                            <td>{{ longitude }}</td>
                                            <td>{{ rowData.totalTanks }}</td>
                                            <td>{{ rowData.Parameter.scdp_delay_day }}</td>
                                            <td>{{ rowData.Parameter.critic_limit }}</td>

                                        </tr>
                                    </ng-template>

                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </p-card>
    </p-fieldset>


</div>

