<div class="stepsdemo-content" *ngIf="!(isLoading$ | async)">
    <p-fieldset legend="Utilisateurs">
        <form [formGroup]="userForm">
            <p-card>
                <div class="field col-12 md:col-12">
                    <span class="block font-bold mb-3"
                        >Informations Personnelles</span
                    >

                    <div class="pt-5 border-top-1 surface-border">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="last_name"
                                    >Nom de famille
                                </label>
                                <input
                                    pInputText
                                    id="name"
                                    type="text"
                                    formControlName="last_name"
                                    required
                                />
                            </div>

                            <div class="field col-12 md:col-4">
                                <label htmlFor="first_name">Prénom </label>
                                <input
                                    pInputText
                                    id="name"
                                    type="text"
                                    formControlName="first_name"
                                />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="email">Email </label>
                                <input
                                    pInputText
                                    id="email"
                                    type="email"
                                    formControlName="email"
                                    required
                                />
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="name_entreprise"
                                    >Nom de l'entreprise
                                </label>
                                <p-dropdown
                                    [options]="allCompagnies"
                                    placeholder="Selectionner l'entreprise"
                                    [editable]="true"
                                    optionLabel="name"
                                    required
                                    [showClear]="true"
                                    formControlName="name_entreprise"
                                    (onChange)="show()"
                                ></p-dropdown>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="role_user"
                                    >Role de l'utilisateur
                                </label>
                                <p-dropdown
                                    [options]="roles"
                                    placeholder="Selectionner le role de l'utilisateur"
                                    [editable]="true"
                                    optionLabel="name"
                                    required
                                    [showClear]="true"
                                    formControlName="role_user"
                                    (onChange)="hide_ss()"
                                ></p-dropdown>
                            </div>

                            <div class="field col-12 md:col-4">
                                <label htmlFor="name_ss"
                                    >Stations services
                                </label>
                                <p-dropdown
                                    [options]="datastationService"
                                    placeholder="Selectionner les stations services"
                                    [editable]="true"
                                    optionLabel="name"
                                    [showClear]="true"
                                    formControlName="name_ss"
                                    [disabled]="visible"
                                ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field col-12 md:col-12">
                    <div class="grid grid-nogutter justify-content-end mt-1">
                        <p-button
                            [loading]="loading"
                            label="Valider"
                            icon="pi pi-check"
                            iconPos="right"
                            [disabled]="userForm.invalid"
                            (click)="onSubmitForm()"
                            type="submit"
                        ></p-button>
                    </div>
                </div>

                <div class="field col-12 md:col-12">
                    <span class="block font-bold mb-3"
                        >Liste des utilisateurs</span
                    >
                    <div class="pt-5 border-top-1 surface-border">
                        <p-table
                            #dt
                            [value]="allUsers"
                            dataKey="id"
                            [rows]="10"
                            [rowHover]="true"
                            [paginator]="true"
                            selectionMode="single"
                            [(selection)]="selectedUser"
                            responsiveLayout="scroll"
                            [globalFilterFields]="[
                                'name',
                                'roles[0]?.service_stations[0]?.name'
                            ]"
                        >
                            <ng-template pTemplate="caption">
                                <div
                                    class="flex justify-content-between flex-column sm:flex-row mb-2"
                                >
                                    <div class="flex justify-content-between">
                                        <p-button
                                            label="Désactiver"
                                            icon="pi pi-eye-slash"
                                            severity="help"
                                            (click)="desactiveuser()"
                                            [disabled]="!selectedUser"
                                            [loading]="loading"
                                        ></p-button>
                                    </div>

                                    <span
                                        class="p-input-icon-right mt-3 sm:mt-0"
                                    >
                                        <i
                                            class="pi pi-align-justify mr-2"
                                            (mouseenter)="menu.toggle($event)"
                                            (click)="menu.toggle($event)"
                                        ></i>
                                        <input
                                            pInputText
                                            type="text"
                                            #filter
                                            placeholder="filtrer par ... "
                                            class="w-full"
                                            (input)="
                                                dt.filterGlobal(
                                                    $event.target.value,
                                                    'contains'
                                                )
                                            "
                                        />
                                        <p-menu
                                            #menu
                                            [model]="items"
                                            [popup]="true"
                                            (click)="menu.hide()"
                                        />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <div
                                            class="flex justify-content-between align-items-center"
                                        >
                                            Nom de l'utilisateur
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                            class="flex justify-content-between align-items-center"
                                        >
                                            Email
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                            class="flex justify-content-between align-items-center"
                                        >
                                            Station service
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                            class="flex justify-content-between align-items-center"
                                        >
                                            Role
                                        </div>
                                    </th>
                                    <th>
                                        <div
                                            class="flex justify-content-between align-items-center"
                                        >
                                            Entreprise
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-user>
                                <tr [pSelectableRow]="user">
                                    <td style="width: 20%; white-space: nowrap">
                                        <span>{{ user.name }} </span>
                                    </td>
                                    <td style="width: 25%">
                                        {{ user.email }}
                                    </td>
                                    <td style="width: 25%">
                                        {{
                                            user.roles[0]?.service_stations
                                                .length > 1
                                                ? "Toutes les stations"
                                                : user.roles[0]
                                                      ?.service_stations[0]
                                                      ?.name
                                        }}
                                    </td>
                                    <td style="width: 25%">
                                        {{ user.roles[0]?.role }}
                                    </td>
                                    <td style="width: 15%">
                                        {{ user.roles[0]?.company }}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">Aucune Cuve trouvée</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td colspan="8">
                                        Chargement de données des cuves.
                                        Patientez svp.
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-card>
        </form>
    </p-fieldset>
</div>

<app-loading [isLoading$]="isLoading$"></app-loading>
