

::ng-deep .p-card .p-card-footer{
    padding: 0;
}



::ng-deep .field{
    margin-bottom: -0.3rem;
}


::ng-deep .block{
    font-size: 1.5rem;
    font-weight: 700;
}


@media screen and (min-width: 1005px)  {
    .size{
        min-height: 19.8rem;
    }
  }

  :host ::ng-deep  a {
    text-decoration: none;
    /* color: var(--primary-color); */
    font-size: larger;
    font-weight: 900;
    color: black;
}
::ng-deep .p-splitter{
    border:none;
}
::ng-deep  .tabs{
    margin-top:1rem;
    width: 26rem;
}

::ng-deep .p-chips .p-chips-multiple-container {
    padding: 0.25rem 0.25rem;
    gap: 0.2rem;
}

::ng-deep .p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.15rem 0.25rem;
    margin-right: 0;
    background-color: #eef5fb;
    border-radius: 5px !important;
    font-size: smaller;
}

::ng-deep chips-token .p-chips-token-icon {
    margin-left: 0.2rem;
    width: 10px;
}

::ng-deep .p-dialog .p-dialog-header {
    padding: 0.1rem;
}

::ng-deep .p-dialog .p-dialog-content{
    padding: 0 0.5rem 0 0.5rem;
}



::ng-deep .p-datepicker table td > span {
    font-size: small;
    width: 1.3rem;
    height: 1.3rem;
}
::ng-deep .p-datepicker table th > span {
    font-size: small;
    font-weight: lighter;
}

::ng-deep .p-calendar .p-inputtext {
    flex: 1 1 auto;
    width: 20rem;
}

::ng-deep
    .p-datepicker
    .p-datepicker-header
    .p-datepicker-title
    .p-datepicker-month,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year {
    font-size: small;
    font-weight: lighter;
}


:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
    padding: 0.5rem 0.2rem !important;
    width: auto !important;
}

:host ::ng-deep .inputedit {
    height: 2rem !important;
    width: 10rem !important;
}
