<div class="stepsdemo-content" *ngIf="!(isLoading$ | async)">
    <p-fieldset legend="CUVE {{ tankData?.sensor_reference }}">
        <p-card>
            <div class="field col-12 md:col-12">
                <span class="block font-bold mb-3"
                    >Informations de la cuve</span
                >

                <div class="pt-5 border-top-1 surface-border">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address"
                                >Nom de la station service
                            </label>
                            <input
                                pInputText
                                id="name"
                                type="text"
                                [(ngModel)]="
                                    tankData?.stationProduct
                                        ?.name_stationservice.name
                                "
                                [disabled]="true"
                                required
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address">Nom du produit </label>
                            <input
                                pInputText
                                id="name"
                                type="text"
                                [(ngModel)]="
                                    tankData?.stationProduct?.nameproduct.name
                                "
                                [disabled]="true"
                                required
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address">Localisation </label>
                            <input
                                pInputText
                                id="name"
                                type="text"
                                [(ngModel)]="
                                    tankData?.stationProduct
                                        ?.name_stationservice.city
                                "
                                [disabled]="true"
                                required
                            />
                        </div>
                    </div>

                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address">Type de sonde </label>
                            <input
                                pInputText
                                id="name"
                                type="text"
                                [ngModel]="tankData?.jauge"
                                [disabled]="true"
                                required
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address">Type de liquide </label>
                            <input
                                pInputText
                                id="name"
                                type="text"
                                [ngModel]="tankData?.liquid_type"
                                [disabled]="true"
                                required
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address"
                                >Diametre de la cuve
                            </label>
                            <p-inputNumber
                                inputId="locale-user"
                                [minFractionDigits]="5"
                                [showButtons]="true"
                                [ngModel]="tankData.diameter"
                                [disabled]="true"
                            ></p-inputNumber>
                        </div>
                    </div>
                    <form [formGroup]="tankForm">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="address"
                                    >Man hole height
                                </label>
                                <p-inputNumber
                                    inputId="locale-user"
                                    required
                                    [minFractionDigits]="5"
                                    [showButtons]="true"
                                    (ngModelChange)="onElementChange()"
                                    formControlName="man_hole_height"
                                ></p-inputNumber>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="address">Sensor Deph </label>
                                <p-inputNumber
                                    inputId="locale-user"
                                    required
                                    [minFractionDigits]="5"
                                    [showButtons]="true"
                                    (ngModelChange)="onElementChange()"
                                    formControlName="sensor_depth"
                                ></p-inputNumber>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="address">Sensor Ref </label>
                                <input
                                    pInputText
                                    id="name"
                                    type="text"
                                    formControlName="sensor_reference"
                                    (change)="onElementChange()"
                                    required
                                />
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <label htmlFor="address"
                                    >Level_active_depotage
                                </label>
                                <p-inputNumber
                                    inputId="locale-user"
                                    required
                                    [minFractionDigits]="5"
                                    [showButtons]="true"
                                    formControlName="level_active_depotage"
                                    (ngModelChange)="onElementChange()"
                                ></p-inputNumber>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <label htmlFor="address">Data_level </label>
                                <p-chips
                                    separator=";"
                                    formControlName="data_level"
                                    (onAdd)="onElementChange('data_level')"
                                    (onChipClick)="
                                        onChipClick($event, 'data_level')
                                    "
                                    required
                                ></p-chips>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <label htmlFor="address">Data_temp </label>
                                <p-chips
                                    separator=";"
                                    formControlName="data_temp"
                                    (onAdd)="onElementChange('data_temp')"
                                    (onChipClick)="
                                        onChipClick($event, 'data_temp')
                                    "
                                    required
                                ></p-chips>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <label htmlFor="address">Data_pressure </label>
                                <p-chips
                                    separator=";"
                                    formControlName="data_pressure"
                                    (onAdd)="onElementChange('data_pressure')"
                                    (onChipClick)="
                                        onChipClick($event, 'data_pressure')
                                    "
                                    required
                                ></p-chips>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-12">
                                <label htmlFor="address">Abacus </label>
                                <p-chips
                                    separator=";"
                                    formControlName="abacusResults"
                                    (onAdd)="onElementChange('abacusResults')"
                                    (onChipClick)="
                                        onChipClick($event, 'abacusResults')
                                    "
                                    required
                                ></p-chips>
                            </div>

                            <div class="field col-12 md:col-12">
                                <div
                                    class="grid grid-nogutter justify-content-end mt-1"
                                    *ngIf="isChanged"
                                >
                                    <p-button
                                        [loading]="loading"
                                        (click)="onUpdateForm(tankData.id)"
                                        label="Modifier"
                                        icon="pi pi-check"
                                        iconPos="right"
                                        type="submit"
                                    ></p-button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="field col-12 md:col-12 -mt-4">
                <p-tabView>
                    <p-tabPanel header="Données recues de la record">
                        <p-panel
                            header="Afficher les Données de la record "
                            [toggleable]="true"
                            [collapsed]="true"
                            (onBeforeToggle)="showrecord()"
                        >
                            <p-table
                                #dt
                                [value]="records"
                                dataKey="id"
                                editMode="row"
                                [(selection)]="selectedRecords"
                                styleClass="p-datatable-striped"
                                [tableStyle]="{ 'min-width': '50rem' }"
                                [rows]="50"
                                [rowsPerPageOptions]="[50, 100, 150]"
                                [loading]="loading"
                                [paginator]="true"
                                [totalRecords]="totalRecords"
                                [page]="currentPage - 1"
                                (onPage)="onPageChange($event)"
                            >
                                <ng-template pTemplate="caption">
                                    <div
                                        class="flex justify-content-between flex-column sm:flex-row mb-2"
                                    >
                                        <div
                                            class="-ml-3 flex justify-content-start"
                                        >
                                            <p-button
                                                label="Supprimer"
                                                icon="pi pi-trash"
                                                severity="danger"
                                                (click)="
                                                    deleteselectedRecords()
                                                "
                                                [disabled]="
                                                    !selectedRecords ||
                                                    !selectedRecords.length
                                                "
                                            ></p-button>
                                        </div>
                                        <div class="flex justify-content-end">
                                            <span class="p-float-label">
                                                <p-calendar
                                                    [(ngModel)]="rangeDates"
                                                    selectionMode="range"
                                                    [readonlyInput]="true"
                                                    [iconDisplay]="'input'"
                                                    [showIcon]="true"
                                                    inputId="icondisplay"
                                                    (onSelect)="filterRecords()"
                                                />
                                                <label for="float-input"
                                                    >Selectionnez la
                                                    période</label
                                                >
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 4rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th style="width: 5%">battery_level</th>
                                        <th style="width: 11%">Level</th>
                                        <th style="width: 11%">density</th>
                                        <th style="width: 11%">
                                            liquid_height
                                        </th>
                                        <th style="width: 5%">
                                            liquid_temperature
                                        </th>
                                        <th style="width: 11%">total_volume</th>
                                        <th style="width: 11%">volume</th>
                                        <th style="width: 11%">
                                            volume_at_fift
                                        </th>
                                        <th
                                            pSortableColumn="last_update"
                                            style="width: 15%"
                                        >
                                            Date
                                            <p-sortIcon field="last_update" />
                                        </th>
                                        <th style="width: 15%">Actions</th>
                                    </tr>
                                </ng-template>

                                <ng-template
                                    pTemplate="body"
                                    let-record
                                    let-editing="editing"
                                    let-ri="rowIndex"
                                >
                                    <tr [pEditableRow]="record">
                                        <td>
                                            <p-tableCheckbox
                                                [value]="record"
                                            ></p-tableCheckbox>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        type="number"
                                                        name="battery_level"
                                                        [(ngModel)]="
                                                            record.battery_level
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ record.battery_level }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        name="level"
                                                        type="number"
                                                        [(ngModel)]="
                                                            record.level
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ record.level }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        name="density"
                                                        type="number"
                                                        [(ngModel)]="
                                                            record.density
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ record.density }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        type="number"
                                                        name="liquid_height"
                                                        [(ngModel)]="
                                                            record.liquid_height
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ record.liquid_height }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        name="liquid_temperature"
                                                        type="number"
                                                        [(ngModel)]="
                                                            record.liquid_temperature
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{
                                                        record.liquid_temperature
                                                    }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        name="total_volume"
                                                        type="number"
                                                        [(ngModel)]="
                                                            record.total_volume
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ record.total_volume }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        type="number"
                                                        name="volume"
                                                        [(ngModel)]="
                                                            record.volume
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ record.volume }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input
                                                        class="inputedit"
                                                        pInputText
                                                        type="number"
                                                        name="volume_at_fift"
                                                        [(ngModel)]="
                                                            record.volume_at_fift
                                                        "
                                                    />
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{ record.volume_at_fift }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td>
                                            <p-cellEditor>
                                                <!-- <ng-template pTemplate="input" >
                                                <input
                                                    class="inputedit"
                                                    pInputText
                                                    type="number"
                                                    name="created_at"
                                                    [ngModel]=
                                                    "getDate(record.created_at)"
                                                />
                                            </ng-template> -->
                                                <ng-template pTemplate="output">
                                                    {{
                                                        getDate(
                                                            record.last_update
                                                        )
                                                    }}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td
                                            style="width: 15%"
                                            class="justify-content-between"
                                        >
                                            <button
                                                *ngIf="!editing"
                                                pButton
                                                pRipple
                                                severity="success"
                                                type="button"
                                                pInitEditableRow
                                                icon="pi pi-file-edit"
                                                (click)="onRowEditInit(record)"
                                                class="p-button-rounded p-button-text p-button-success"
                                            ></button>
                                            <button
                                                *ngIf="editing"
                                                pButton
                                                pRipple
                                                type="button"
                                                pSaveEditableRow
                                                icon="pi pi-check"
                                                (click)="onRowEditSave(record)"
                                                class="p-button-rounded p-button-text p-button-success"
                                            ></button>
                                            <button
                                                *ngIf="editing"
                                                pButton
                                                pRipple
                                                type="button"
                                                pCancelEditableRow
                                                icon="pi pi-times"
                                                (click)="
                                                    onRowEditCancel(record, ri)
                                                "
                                                class="p-button-rounded p-button-text p-button-danger"
                                            ></button>
                                            <p-button
                                                *ngIf="!editing"
                                                icon="pi pi-trash"
                                                (click)="
                                                    deleteRecord(record.id)
                                                "
                                                [rounded]="true"
                                                [text]="true"
                                                severity="danger"
                                            ></p-button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">
                                            Aucune record enregistrée dans cette
                                            periode
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-panel>
                    </p-tabPanel>
                    <!-- <p-tabPanel
                        header="Informations de la Raw datas"
                        *ngIf="raw_datas !== null"
                    >
                        <p-splitter
                            [style]="{ height: '300px' }"
                            styleClass="mt-4"
                        >
                            <ng-template pTemplate>
                                <div class="tabs">
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Reference Kit </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.refKit }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class"> Level_drt </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ raw_datas?.level_drt }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class" class=""
                                                >Level_mrc
                                            </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ raw_datas?.level_mrc }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Temperature </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.temperature }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Env_Temperature </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.env_temperature }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Current </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.current }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Current_value </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.current_value }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Raw_Data </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.raw_data }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">F2 </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.f1 }}
                                        </label>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate>
                                <div class="tabs">
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Voltage </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.voltage }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Density </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ raw_datas?.density }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class" class=""
                                                >Date_time
                                            </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ raw_datas?.date_time }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Pressure </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.pressure }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Depotage </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.depotage }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Is_Depotage </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.is_depotage }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Value_to_store </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.value_to_store }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">F1 </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.f1 }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Dep </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ raw_datas?.dep }}
                                        </label>
                                    </div>
                                </div>
                            </ng-template>
                        </p-splitter>
                    </p-tabPanel> -->
                    <p-tabPanel header="Données recues de la Props Sensor">
                        <!-- <p-splitter
                            [style]="{ height: '300px' }"
                            styleClass="mt-4"
                        >
                            <ng-template pTemplate>
                                <div class="tabs">
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Sensor Reference </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ probe_sensors?.sensor_ref }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class"> Density_up </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ probe_sensors?.density_up }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class" class="">
                                                Density_down
                                            </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ probe_sensors?.density_down }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Temperature_up </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ probe_sensors?.temperature_up }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Temperature_down </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{
                                                probe_sensors?.temperature_down
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate>
                                <div class="tabs">
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Level_up </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ probe_sensors?.level_up }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class"> Level_down </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ probe_sensors?.level_down }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class" class=""
                                                >Pressure_up
                                            </b>
                                        </div>

                                        <label class="text-lg">
                                            {{ probe_sensors?.pressure_up }}
                                        </label>
                                    </div>

                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">Pressure_down </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ probe_sensors?.pressure_down }}
                                        </label>
                                    </div>
                                    <div
                                        class="field flex flex-row justify-content-between mx-4 mb-3"
                                    >
                                        <div class="mr-5">
                                            <b for="class">HourKit </b>
                                        </div>

                                        <label class="text-lg"
                                            >{{ probe_sensors?.hourkit }}
                                        </label>
                                    </div>
                                </div>
                            </ng-template>
                        </p-splitter> -->
                    </p-tabPanel>
                </p-tabView>
            </div>
        </p-card>
    </p-fieldset>

    <p-dialog
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '20rem', height: '6rem' }"
    >
        <div class="flex align-items-center gap-3 mb-3">
            <input
                pInputText
                id="chip"
                class="flex-auto"
                autocomplete="off"
                [(ngModel)]="chipValue"
                (keyup.enter)="updateChipValue()"
            />
        </div>
    </p-dialog>
</div>

<app-loading [isLoading$]="isLoading$"></app-loading>
