


::ng-deep .p-confirm-popup{
    margin-top: 20rem;
    margin-left: 35rem;
}


:host ::ng-deep .p-menu.p-menu-overlay {
    width: 14rem;
    top: 2.5rem !important;
    left: 0rem !important;
}



