<div class="stepsdemo-content">
    <p-fieldset legend="Liste des entreprises">
        <p-card>
            <p-table
                #dt
                [value]="allCompagnies"
                dataKey="id"
                [rows]="10"
                [rowHover]="true"
                [paginator]="true"
                [(selection)]="selectedCompanies"
                [globalFilterFields]="['name', 'address']"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between flex-column sm:flex-row"
                    >
                        <div class="flex justify-content-between">
                            <p-button
                                label="Supprimer"
                                icon="pi pi-trash"
                                severity="danger"
                                (click)="deleteSelectedCompanies()"
                                [disabled]="
                                    !selectedCompanies ||
                                    !selectedCompanies.length
                                "
                            ></p-button>
                            <button
                                pButton
                                label="Ajouter Entreprise"
                                class="p-button-outlined ml-4"
                                icon="pi pi-plus"
                                [routerLink]="['/compagnies/addcompagnie']"
                            ></button>
                        </div>

                        <span class="p-input-icon-left mt-3 sm:mt-0">
                            <!-- <i class="pi pi-search"></i> -->
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                "
                                placeholder="Rechercher ..."
                                class="w-full"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Nom
                            </div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Localisation
                            </div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Telephone
                            </div>
                        </th>
                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Email
                            </div>
                        </th>

                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Website
                            </div>
                        </th>

                        <th>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                Actions
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-allCompagnie>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="allCompagnie"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 20%">
                            <img
                                [alt]=""
                                src="../../../../../assets/layout/images/lightimage.jpg"
                                width="40"
                                style="vertical-align: middle"
                            />
                            <span class="image-text ml-3">{{
                                allCompagnie.name
                            }}</span>
                        </td>
                        <td style="width: 20%">
                            {{ allCompagnie.address }}
                        </td>
                        <td style="width: 20%">+{{ allCompagnie.phone }}</td>
                        <td style="width: 20%">
                            <span>{{ allCompagnie.email }}</span>
                        </td>
                        <td style="width: 20%">
                            <span>{{ allCompagnie.website }}</span>
                        </td>
                        <td style="width: 15%" class="justify-content-center">
                            <p-button
                                icon="pi pi-file-edit"
                                class="ml-3"
                                pTooltip="details"
                                tooltipPosition="bottom"
                                (click)="Details(allCompagnie.id)"
                                [rounded]="true"
                                [text]="true"
                                severity="success"
                            ></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">Aucune Entreprise trouvée</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">
                            Chargement de données des entreprises. Patientez
                            svp.
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </p-fieldset>

    <p-confirmPopup>
        <ng-template pTemplate="content" let-message>
            <div
                class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3"
            >
                <i [class]="message.icon" class="text-6xl text-primary-500"></i>
                <p>{{ message.message }}</p>
            </div>
        </ng-template>
    </p-confirmPopup>
</div>
