<form [formGroup]="basicInformationForm">
    <p-card>
        <ng-template pTemplate="title">
            Informations de la station service
        </ng-template>
        <ng-template pTemplate="subtitle">
            <span> Entrer les informations de base de la station service</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="name">Nom de la station service</label>
                    <input pInputText id="name" type="text" formControlName="name" [(ngModel)]="basicInformation.name" required />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="address">Nom de l'entreprise </label>
                    <p-dropdown
                        [options]="allCompagnies"
                        [(ngModel)]="basicInformation.entreprise"
                        placeholder="Selectionner l'entreprise"
                        [editable]="true"
                        optionLabel="name"
                        required
                        [showClear]="true"
                        formControlName="entreprise"
                    ></p-dropdown>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="name">Produits utilisés</label>
                    <p-multiSelect
                    formControlName="product_name"
                        [options]="allProducts"
                        [(ngModel)]="selectedMulti"
                        placeholder="Selectionner les produits"
                        optionLabel="name"
                        class="multiselect-custom"
                        display="chip"
                    >
                        <ng-template let-product pTemplate="item">
                            <div class="flex align-items-center">
                                <span class="ml-2">{{ product.name }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="image">Selectionner Image </label>

                    <div  class="fileInput" >
                        <p-fileUpload
                        formControlName="logo_ss"
                        mode="basic"
                        name="demo[]"
                        url="./upload.php"
                        accept="image/*"
                        [maxFileSize]="1000000"
                        (onUpload)="onUpload()"
                        [(ngModel)]="basicInformation.logo_ss"
                        chooseLabel="Televerser la Photo"
                    ></p-fileUpload>
                    </div>
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label htmlFor="phone">Description de la station service</label>
                    <textarea
                        rows="5"
                        formControlName="description"
                        pInputTextarea
                        [(ngModel)]="basicInformation.description"
                        [autoResize]="true"
                        placeholder="entrer la description de la station service"
                    ></textarea>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end mt-1">
                <p-button
                    label="Suivant"
                    [loading]="loading"
                    [disabled]="basicInformationForm.invalid"
                    (onClick)="nextPage()"
                    icon="pi pi-angle-right"
                    iconPos="right"
                ></p-button>
            </div>
        </ng-template>
    </p-card>
</form>

