/* You can add global styles to this file, and also import other style files */


body {
    font-family: "Open Sans", sans-serif;
    font-size: inherit;
    background-image: url("./assets/layout/images/background5.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.card{
    border-radius: 0.700rem !important;
}

.p-card {
    border-radius: 0.700rem !important;
}

.p-inputtext{
    &:hover {
        background-color: transparent;
    }
    &:focus {
        box-shadow: none;
    }
    border-radius: 0.375rem !important;
}

.p-chips{
    &:hover {
        background-color: transparent;
    }
    &:focus {
        box-shadow: none;
    }
    border-radius: 0.375rem !important;
}

.p-fluid .p-dropdown{
    border-radius: 0.375rem !important;

}

.p-dropdown:not(.p-disabled).p-focus{

        box-shadow: none !important;

}

.p-button.p-button-outlined{
    border-radius: 0.375rem !important;

    &:focus {
        box-shadow: none;
    }
}



.p-button{
    border-radius: 0.375rem !important;

    &:focus {
        box-shadow: none;
    }

    &:hover {
        background-color: transparent;
    }
}

.field > label{
    font-size: small;
}

.p-datatable .p-datatable-header {
    background-color: transparent;

    border-width: 0px 0px;
}
 .p-fluid .p-button-icon-only {
    width: 1.357rem;
    margin-left: -1.5rem;
    background-color: transparent;
    border: none;
    color: rgb(104, 103, 103);
}
 .p-fieldset {
    border-radius: 0.375rem !important;
    background-color: transparent;
    border: 1px solid #b975f9;
    padding: 0.8rem;
}
 .p-fieldset .p-fieldset-legend {
    padding-block: 0 !important;
    padding-inline: 0.5rem;
    background-color: transparent;
    border: none;
}

 .p-fieldset .p-fieldset-content {
    padding: 0;
}


.p-datatable .p-datatable-tbody > tr > td{
    padding: 0.5rem 1rem;
}

::ng-deep .p-menu.p-menu-overlay {
    width: 14rem;
    top: 2.5rem !important;
    left: 0rem !important;
}

::ng-deep .p-menu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    color: #495057;
    background: #b9d9fa;
}








$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";




